{% extends 'iamin/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
  Absences (Student)
{% endblock %}

{% block dash_block %}
  Absence
{% endblock %}

{% block body_block %}
  <div>
    {% if occurrence.is_active == False %}
      This session is no longer active.
    {% elif slo.excuse == None %}
      {% if slo.session_password != None %}
        {% if slo.session_password == occurrence.session_password %}
          You're already logged in for this class.
        {% endif %}
      {% else %}
        <form id="se_form" method="post" action="{% url 'student_absences' course.slug %}?occ_id={{occurrence.id}}" enctype="multipart/form-data">
          <!-- Uses Django's cross-site forgery protection middleware layer -->
          {% csrf_token %}
          <!-- Display the form -->
          Course: {{course}}<br />
          Date: {{occurrence.date}}
          {{ se_form.student|as_crispy_field }}
          {{ se_form.excuse|as_crispy_field }}
          {{ se_form.lecture_occurrence|as_crispy_field }}

          <input class="btn btn-success" type="submit" name="submit" value="Submit Excuse" />
          </form>

      {% endif %}
    {% else %}
      You have submitted an excuse for your absence. You will be notified if the instructor accepts your excuse.
    {% endif %}



  </div>

{% endblock %}
