{% extends 'iamin/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
  Attendance (Student)
{% endblock %}

{% block dash_block %}
  Attendance
{% endblock %}

{% block body_block %}
  <div>
    {% if occurrence.session_password == None %}
      Your lecturer hasn't yet set up a password.
    {% elif occurrence.is_active == False %}
      This session is no longer active.
    {% else %}
      {% if slo.excuse != none %}
        You've already submitted your absence excuse.
      {% elif slo.session_password != occurrence.session_password %}
        {% if slo.session_password != None %}
          It looks like you've entered the wrong password. Try again.
        {% endif %}
        Enter the current session password (your instructor will give this to you).
        <form id="sp_form" method="post" action="{% url 'student_attendance' course.slug %}?occ_id={{occurrence.id}}" enctype="multipart/form-data">
        <!-- Uses Django's cross-site forgery protection middleware layer -->
        {% csrf_token %}

        <!-- Display the form -->
        {{ sp_form.student|as_crispy_field }}
        {{ sp_form.session_password|as_crispy_field }}
        {{ sp_form.lecture_occurrence|as_crispy_field }}


        <input class="btn btn-success" type="submit" name="submit" value="submit password" />
        </form>
      {% else %}
        You've submitted your attendance for this class.<br />
      {% endif %}

    {% endif %}

  </div>

{% endblock %}
