{% extends 'iamin/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Home
{% endblock %}

{% block dash_block %}
  Home
{% endblock %}

{% block header_block %}
  <link href="{% static 'css/mycolors.min.css' %}" rel="stylesheet">
  <!-- <link href="{% static 'css/mycards.min.css' %}" rel="stylesheet"> -->
{% endblock %}

{% block body_block %}
{% with type=user.user_type %}
  <!-- <div>
    Debugging tools:
  </div>
  {% if user.is_authenticated %}
  <div>
    Welcome, {{ user.first_name  }} {{ user.last_name }} ({{ user.username }}) <br />

    Account type: {{type}}<br />

  {% endif %}
  </div> -->

  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-cards o-hidden h-100">
        <div class="card-body">
          <!-- <div class="card-body-icon"> -->
            <!-- <i class="fas fa-fw fa-shopping-cart"></i> -->
          <!-- </div> -->
          <div class="mr-5"><strong>Attendance and Absences</strong></div>
        </div>
          <a class="card-footer text-white clearfix small z-1" href="{% url 'show_courses' %}">
          <span class="float-left">Submit passwords and absence excuses by course.</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-cards4 o-hidden h-100">
        <div class="card-body">
          <!-- <div class="card-body-icon">
            <i class="fas fa-fw fa-list"></i>
          </div> -->

          <div class="mr-5"><strong>Notifications</strong></div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="{% url 'student_notifications_all' %}">
            <span class="float-left">View all notifications.</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>

    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-cards2 o-hidden h-100">
        <div class="card-body">
          <!-- <div class="card-body-icon">
            <i class="fas fa-fw fa-comments"></i>
          </div> -->
          <div class="mr-5"><strong>Statistics</strong></div>
        </div>
        {% if user.user_type == 1 %}
        <a class="card-footer text-white clearfix small z-1" href="{% url 'student_statistics' %}">
          <span class="float-left">View statistics across all your courses.</span>
        {% elif user.user_type == 2 %}
        <a class="card-footer text-white clearfix small z-1" href="{% url 'instructor_statistics' %}">
          <span class="float-left">View statistics across all your courses.</span>
        {% endif %}
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-cards3 o-hidden h-100">
        <div class="card-body">
          <!-- <div class="card-body-icon">
            <i class="fas fa-fw fa-comments"></i>
          </div> -->
          <div class="mr-5"><strong>Help</strong></div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{% url 'help' %}">
          <span class="float-left">FAQs answered here.</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>

<br />
<br />
<br />
<a class="btn btn-danger" button type="done" id="done" href="{% url 'clear_database' %}"><strong>I'm done evaluating!</strong></a>

{% endwith %}
{% endblock %}
