{% extends 'iamin/base.html' %}
{% load staticfiles %}

{% block title_block %}
Notifications
{% endblock %}

{% block dash_block %}
  Notifications
{% endblock %}

{% block header_block %}
<link href="{% static 'css/mycolors.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mybuttons.min.css' %}" rel="stylesheet">

<link href="{% static 'css/mobile.min.css' %}" rel="stylesheet">
<!-- Page level plugin CSS-->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}



{% if courses %}
<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    My Notifications
  </div>
  <div class="card-body large-screen">
    <div class="table-responsive">
      <table class="table table-bordered mobile-table" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>Message</th>
            <th>Course</th>
            <th>Instructor</th>
          </tr>
        </thead>
        <tfoot class="to-hide">
          <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>Message</th>
            <th>Course</th>
            <th>Instructor</th>
          </tr>
        </tfoot>
        <tbody>
          {% for n in notifications %}
          <tr>
          <td data-label="Date">{{n.date|date:'Y-m-d' }}</td>
          <td data-label="Start Time">{{n.regular_lecture.start_time }}</td>
          <td data-label="Message">{{n.message}}</td>
          <td data-label="Course">{{n.regular_lecture.course}}</td>
          <td data-label="Instructor">{{n.instructor}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

</div>
{% else %}
<strong>You are not enrolled for any courses.</strong>
{% endif %}
</div>

<!-- Page level plugin JavaScript-->


{% endblock %}

{% block script_block %}
<script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<!-- Demo scripts for this page-->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}
