{% extends 'iamin/base.html' %}
{% load staticfiles %}

{% block title_block %}
Notifications
{% endblock %}

{% block dash_block %}
  Notifications
{% endblock %}

{% block body_block %}
  <div>
    <strong>Notifications</strong><br />
  </div>

  <div>
    Students should see messages/alerts about class schedule changes here.
  </div>


{% endblock %}
