{% extends 'iamin/base.html' %}
{% load staticfiles %}

{% block title_block %}
Statistics (Student)
{% endblock %}

{% block dash_block %}
Statistics
{% endblock %}

{% block header_block %}
<link href="{% static 'css/mycolors.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mybuttons.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mobile.min.css' %}" rel="stylesheet">
<!-- Page level plugin CSS-->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}

<script type="text/javascript">
  var userType = "{{user.user_type}}";
</script>

{% if user.user_type == 1%}
<!-- pie and line graphs -->

<div class="row">
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-chart-pie"></i>
        Total Attendance</div>
      <div class="card-body">
        <canvas id="myPieChart" width="100%" height="100"></canvas>
      </div>

    </div>
  </div>
    <div class="col-lg-8">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-bar"></i>
          Class Average Attendance by Percentage</div>
        <div class="card-body">
          <canvas id="myBarChart" width="100%" height="50"></canvas>
        </div>

      </div>
    </div>
  </div>


  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      My Courses<br />
    </div>
    <div class="card-body">
      <p>What is your course's tuition fee?</p>
      <label for="uniprice">Cost in £</label>
      <input id="uniprice" type="text" name="" placeholder="8000" value="8000">
      <button class="btn btn-info" type="button" name="button" onclick="send_money_request()">Check</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered mobile-table" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Course ID</th>
              <th>Total Lectures</th>
              <th>Lectures skipped</th>
              <th>Money Lost</th>
            </tr>
          </thead>
          <tfoot class="to-hide">
            <tr>
              <th>Course ID</th>
              <th>Total Lectures</th>
              <th>Lectures skipped</th>
              <th>Money Lost</th>
            </tr>
          </tfoot>
          <tbody id="table_body">

          </tbody>
        </table>
      </div>
    </div>

  </div>

{% else %}
<div>
  You don't have permission to view this page.
</div>
{% endif %}
{% endblock %}



{% block script_block %}
<!-- Page level plugin JavaScript-->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<!-- Scripts for this page-->

<script src="{% static 'js/money_lost_table.js' %}"></script>
<script src="{% static 'js/average_attendance_bar.js' %}"></script>
<script src="{% static 'js/student_total_attendance_pie.js' %}"></script>
<script src="{% static 'js/line-chart-attendance.js' %}"></script>
{% endblock %}
