{% extends 'iamin/anonbase.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
  Login Page
{% endblock %}

{% block header_block %}

{% endblock %}

{% block body_block %}

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
            <!-- <div class="login-form">
              <div class="form-label-group"> -->

              <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus"> -->
              <!-- <input type=form.username id="username" class="form-control" placeholder="12345678" required="required" autofocus="autofocus"> -->
              {{ form.username | as_crispy_field }}
              <!-- <label for="username">University ID number</label> -->

            <!-- </div>
          </div> -->
          <!-- <div class="login-form">
            <div class="form-label-group"> -->
              <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required"> -->
              {{ form.password | as_crispy_field}}
              <!-- <label for="inputPassword">Password</label> -->
            <!-- </div>
          </div> -->
          <!-- <div class="login-form">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me">
                Remember Password
              </label>
            </div>
          </div> -->






            <button class="btn btn-primary btn-block" button type="submit" href="{% url 'home' %}" %}">Login</button>
          </form>

        <div class="text-center">
          <a class="d-block small mt-3" href="{% url 'register' %}">Register an Account</a>
          <a class="d-block small" href="{% url 'forgot_password' %}">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
