{% extends 'iamin/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
  Login Page
{% endblock %}

{% block header_block %}

{% endblock %}

{% block body_block %}

<div class="container">

    <div class="login-form">
      <p>Your username is your 8-digit university ID number.</p>
      <p>If you do not have an account, register <a href="{% url 'register' %}">here</a>.</p>

      <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success">Login</button>
      </form>



    </div>
</div>

{% endblock %}
