@import "../vendor/bootstrap/scss/bootstrap.scss";
// Import Custom SCSS
@import "mixins.scss";

.course-button{
  // position: absolute;
  // z-index: 0;
  top: -1.25rem;
  right: -1rem;
  // opacity: 0.4;

  font-size: 1.5rem;
  // @include rotate;
  // #a1cccf #b7c4c3
}


// Override breakpoints for card columns to work well with sidebar layout
.course-button-columns {
  @media (min-width: 576px) {
    column-count: 1;
  }
  @media (min-width: 768px) {
    column-count: 2;
  }
  @media (min-width: 1200px) {
    column-count: 2;
  }
}
 // ID; . = class
// #myBarChart
