.bg-cards {
  background-color: #0b737a !important;
  // #a1cccf #b7c4c3
}

.bg-lavender {
  background-color: #dac5ed !important;
}

.bg-cards2 {
  background-color: #705b78 !important;
}

.bg-cards3 {
  background-color: #39406b !important;
}

.bg-cards4 {
  background-color: #a14127 !important;
}

.bg-notif {
  background-color: #e3928d !important;
}

.bg-steel {
  background-color: #565c66 !important;
  // options: #39414d #344154 #565c66
}

.bg-soothing {
  background-color: #3d518a !important;
}

.bg-present {
  background-color: #bdf0c6 !important;
  // background-color: #119677 !important;
}

.bg-absent {
  background-color: #bdeaf0 !important;
  // background-color: #873e3e !important;
}

.bg-canceled {
  background-color: #f7ed5e !important;
}

.text-dark {
  color: #565c66 !important;
  // options: #39414d #344154 #565c66
}

.text-white {
  color: #fff !important
}
