{% extends 'iamin/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
  Absences (Instructor)
{% endblock %}

{% block dash_block %}
  Absences
{% endblock %}

{% block header_block %}
<link href="{% static 'css/mycolors.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mybuttons.min.css' %}" rel="stylesheet">

<link href="{% static 'css/mobile.min.css' %}" rel="stylesheet">
<!-- Page level plugin CSS-->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
<script type="text/javascript">
  var occurrence = "{{occurrence}}";
  var absences = "{{absences}}"
</script>

  <!-- <p id="username">{{user.username}}</p> -->

  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Pending Absences<br />
      {{ course.id_no }} ({{ course.name }})<br />
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered mobile-table" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Accept/Reject</th>
              <th>Date</th>
              <th>Start</th>
              <th>Student</th>
              <th>Excuse</th>
            </tr>
          </thead>
          <tfoot class="to-hide">
            <tr>
              <th>Status</th>
              <th>Date</th>
              <th>Start</th>
              <th>Student</th>
              <th>Excuse</th>
            </tr>
          </tfoot>
          <tbody>
          {% for p in pending %}
          <tr>
            <td id = "{{p.id}}" data-label="Status">
              <a class="btn btn-primary bg-present" button type="accept" id="accept" onclick="accept({{p.id}})">Accept</a>
              <a class="btn btn-primary bg-absent" button type="reject" id="reject" onclick="reject({{p.id}})">Reject</a>
            </td>
            <td data-label="Date">{{occurrence.date|date:'Y-m-d'}}</td>
            <td data-label="Start">{{occurrence.regular_lecture.start_time}}</td>
            <td data-label="Student">{{p.student}}</td>
            <td data-label="Excuse">{{p.excuse}}</td>
          </tr>
          {% endfor %}
          {% for e in excused %}
          <tr>
            <td data-label="Status">Excused</td>
            <td data-label="Date">{{occurrence.date|date:'Y-m-d'}}</td>
            <td data-label="Start">{{occurrence.regular_lecture.start_time}}</td>
            <td data-label="Student">{{e.student}}</td>
            <td data-label="Excuse">{{e.excuse}}</td>
          </tr>
          {% endfor %}
          {% for a in absent %}
          <tr>
            <td data-label="Status">Absent(Unexcused)</td>
            <td data-label="Date">{{occurrence.date|date:'Y-m-d'}}</td>
            <td data-label="Start">{{occurrence.regular_lecture.start_time}}</td>
            <td data-label="Student">{{a.student}}</td>
            <td data-label="Excuse">{{a.excuse}}</td>
          </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>

  </div>


  </div>




  </div>

  </div>

  <!-- Page level plugin JavaScript-->


  {% endblock %}

  {% block script_block %}
  <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
  <!-- Demo scripts for this page-->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'js/update_absences.js' %}"></script>
  {% endblock %}
