{% extends 'iamin/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
Attendance (Instructor)
{% endblock %}

{% block dash_block %}
Attendance
{% endblock %}

{% block header_block %}
<link href="{% static 'css/mycolors.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mybuttons.min.css' %}" rel="stylesheet">
<!-- Page level plugin CSS-->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}

<script type="text/javascript">
  var present = {{occurrence.attendance_list.count}};
  var absent = {{occurrence.absent_list.count}};
  var excused = {{occurrence.excused_list.count}};
  var pending = {{occurrence.pending_list.count}};
  var total = "{{total}}";
  var occurrence = "{{occurrence}}";
  var occurrence_name = "{{occurrence.regular_lecture.course.name}}";
  var occurrence_date = "{{occurrence.date}}";
  var occurrence_password = "{{occurrence.session_password}}";
  var occurrence_is_active = "{{occurrence.is_active}}"
  var da_dict = "{{da_dict}}";
  var course_slug = "{{course.slug}}";

  // var alloccs = "{{alloccs}}";
</script>

{% if user.user_type == 2%}
<div>

  <!-- {{course.slug}}<br /> -->
  {% if occurrence.session_password == None %}
  {% if occurrence.instructor.user.username == user.username %}
  Create a password for your lecture.<br />
  <form id="create_password_form" method="post" action="{% url 'instructor_attendance' course.slug %}?occ_id={{occurrence.id}}" enctype="multipart/form-data">

    <!-- Uses Django's cross-site forgery protection middleware layer -->
    {% csrf_token %}

    <!-- Display the form -->
    {{ create_password_form.date|as_crispy_field }}
    {{ create_password_form.session_password|as_crispy_field }}
    {{ create_password_form.instructor|as_crispy_field }}
    {{ create_password_form.regular_lecture|as_crispy_field }}

    <input class="btn btn-success" type="submit" name="submit" value="Create password" />
  </form>
  {% else %}
  Only the primary instructor can create a lecture password. {{occurrence.instructor.user.first_name}} {{occurrence.instructor.user.last_name}} is registered as the primary instructor for this lecture.
  Please contact them at {{occurrence.instructor.user.email}}, or contact help at help.iamin@university.edu if you believe this message is in error.
  {% endif %}
  {% else %}
  <h3>The lecture password is: {{occurrence.session_password}}<br /></h3>

  {% if occurrence.is_active == False %}
    This session is closed.
  {% else %}
  <a class="btn btn-primary bg-soothing text-white dropdown-item" button href="#" data-toggle="modal" data-target="#closeModal">Close Session</a>
  {% endif %}
  {% endif %}
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-chart-pie"></i>
        {{occurrence.date|date:'Y-m-d'}} ({{occurrence.regular_lecture.start_time}})</div>
      <div class="card-body">
        <canvas id="myPieChart" width="100%" height="100"></canvas>
      </div>

    </div>
  </div>
  <div class="col-lg-8">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-chart-line"></i>
        Attendance By Lecture</div>
      <div class="card-body">
        <canvas id="myLineChart" width="100%" height="50"></canvas>
      </div>

    </div>
  </div>
</div>



{% else %}
<div>
  You don't have permission to view this page.
</div>
{% endif %}

<!-- Logout Modal-->
<div class="modal fade" id="closeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Close the lecture?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Close" below if you are ready to close this lecture.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" onclick="close_session({{occurrence.id}})">Close</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}



{% block script_block %}
<!-- Page level plugin JavaScript-->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<!-- Demo scripts for this page-->
<script src="{% static 'js/instructor_line_date_attendance.js' %}"></script>
<script src="{% static 'js/instructor_pie_lecture_occurrence.js' %}"></script>
<script src="{% static 'js/instructor_close_session.js' %}"></script>
{% endblock %}
