{% extends 'iamin/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Home
{% endblock %}

{% block dash_block %}
  Home
{% endblock %}

{% block header_block %}
  <link href="{% static 'css/mycolors.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/mycards.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
{% with type=user.user_type %}
  <!-- <div>
    Debugging tools:
  </div>
  {% if user.is_authenticated %}
  <div>
    Welcome, {{ user.first_name  }} {{ user.last_name }} ({{ user.username }}) <br />

    Account type: {{type}}<br />

  {% endif %}
  </div> -->

  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-6 col-sm-6 mb-3">
      <div class="card text-white bg-cards o-hidden h-100">
        <div class="card-body">
          <!-- <div class="card-body-icon"> -->
            <!-- <i class="fas fa-fw fa-shopping-cart"></i> -->
          <!-- </div> -->
          <div class="mr-5"><strong>Attendance, Absences, Notify</strong><br />
            Monitor attendance across all your courses:<br />
              <i class="fas fa-lock"></i>
              Create a new password for each lecture<br />
              <i class="fas fa-user-check"></i>
              Accept or reject absence excuses<br />
            <i class="fas fa-envelope"></i>
              Send notifications and cancel lectures<br />
          </div>
        </div>
          <a class="card-footer text-white clearfix small z-1" href="{% url 'show_courses' %}">

          <span class="float-left">Get started.</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-cards2 o-hidden h-100">
        <div class="card-body">
          <!-- <div class="card-body-icon">
            <i class="fas fa-fw fa-comments"></i>
          </div> -->
          <div class="mr-5"><strong>Statistics</strong></div>
        </div>

        <a class="card-footer text-white clearfix small z-1" href="{% url 'instructor_statistics' %}">
          <span class="float-left">View statistics across all your courses.</span>

          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-cards3 o-hidden h-100">
        <div class="card-body">
          <!-- <div class="card-body-icon">
            <i class="fas fa-fw fa-comments"></i>
          </div> -->
          <div class="mr-5"><strong>Help</strong></div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{% url 'help' %}">
          <span class="float-left">FAQs answered here.</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>

<br />
<br />
<br />
<a class="btn btn-danger" button type="done" id="done" href="{% url 'clear_database' %}"><strong>I'm done evaluating!</strong></a>

{% endwith %}
{% endblock %}
