{% extends 'iamin/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
Notify
{% endblock %}

{% block dash_block %}
  Notify
{% endblock %}

{% block body_block %}
{% if occurrence.is_active == False %}
  This session is no longer active. <br />
  {% if occurrence.message %}
  You have sent the following message: {{occurrence.message}}
  {% endif %}
{% else %}
  {% if occurrence.message %}
    You have already sent the following message: "{{occurrence.message}}"
  {% else %}
    <h4>Please ensure that all of the information below is correct. You are able to send one notification per lecture.</h4>

    <form id="notify_form" method="post" onsubmit="submitAlert()" action="{% url 'instructor_notify' course.slug %}?occ_id={{occurrence.id}}" enctype="multipart/form-data">

      <!-- Uses Django's cross-site forgery protection middleware layer -->
      {% csrf_token %}
      <!-- Display the form -->
      {{ notify_form.date|as_crispy_field }}
      {{ notify_form.instructor|as_crispy_field }}
      {{ notify_form.regular_lecture|as_crispy_field }}
      {{ notify_form.message|as_crispy_field }}
      {{ notify_form.was_canceled|as_crispy_field }}
      <input class="btn btn-success" type="submit" name="submit" value="Notify Students" />
      </form>
    {% endif %}


{% endif %}

{% endblock %}


{% block script_block %}
<script src="{% static 'js/notify.js' %}"></script>
{% endblock %}
