{% extends 'iamin/base.html' %}
{% load staticfiles %}

{% block title_block %}
Statistics (Instructor)
{% endblock %}

{% block dash_block %}
Statistics
{% endblock %}

{% block header_block %}
<link href="{% static 'css/mycolors.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mybuttons.min.css' %}" rel="stylesheet">
<!-- Page level plugin CSS-->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}

<script type="text/javascript">
  var userType = "{{user.user_type}}";
</script>

{% if user.user_type == 2%}
<div>
  <div class="row">
    <div class="col-lg-8">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-bar"></i>
          Average Attendance by Percentage</div>
        <div class="card-body">
          <canvas id="myBarChart" width="100%" height="50%"></canvas>
        </div>

      </div>
    </div>
  </div>


{% else %}
<div>
  You don't have permission to view this page.
</div>
{% endif %}
{% endblock %}



{% block script_block %}
<!-- Page level plugin JavaScript-->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<!-- Demo scripts for this page-->
<script src="{% static 'js/average_attendance_bar.js' %}"></script>
{% endblock %}
