<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
      iAMin:
      {% block title_block %}
      {% endblock %}
    </title>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.min.css' %} " />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.min.css' %}" rel="stylesheet">

    {% block header_block %}
    {% endblock %}
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
      <a class="nav-link dropdown-toggle text-white d-lg-none" href="#" id="menuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </a>
      <a class="navbar-brand mr-1" href="{% url 'home' %}">iAMin</a>
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0 d-none d-lg-block" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="alertsDropdown">
        <!-- d-none d-lg-block -->
        <h6 class="dropdown-header">My Courses</h6>
            <a class="dropdown-item" href="{% url 'show_courses' %}">All</a>
            {% if courses %}
              <p>
              {% for course in courses %}
              <a class="dropdown-item" href="{% url 'show_lectures' course.slug %}">{{ course.id_no }}</a>
              {% endfor %}
            {% endif %}
            <div class="dropdown-divider"></div>
            <li class="nav-item">
         {% if user.user_type == 1 %}
         <a class="dropdown-item" href="{% url 'student_statistics' %}">
           <i class="far fa-chart-bar"></i>
           <span>Statistics</span></a>
         {% elif user.user_type == 2 %}
         <a class="dropdown-item" href="{% url 'instructor_statistics' %}">
           <i class="far fa-chart-bar"></i>
           <span>Statistics</span></a>
         {% endif %}
       </li>
       <li class="nav-item">
         <a class="dropdown-item" href="{% url 'help' %}">
           <i class="fas fa-question"></i>
           <span>Help</span></a>
       </li>
       {% if user.user_type == 1 %}
       <li class="nav-item">
       <a class="dropdown-item" href="{% url 'student_notifications_all' %}">
         <i class="far fa-envelope"></i>
         <span>Notifications</span></a>
       </li>
       {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'home' %}">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>


      </div>


      <!-- Navbar -->
      <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.first_name}} {{user.last_name}} ({{user.username}})
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="sidebar navbar-nav d-none d-lg-block">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-home"></i>
            <span>Home</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-chalkboard-teacher"></i>
            <span>All Courses</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">My Courses</h6>
            <a class="dropdown-item" href="{% url 'show_courses' %}">All</a>
            {% if courses %}
              <p>
              {% for course in courses %}
              <a class="dropdown-item" href="{% url 'show_lectures' course.slug %}">{{ course.id_no }}</a>
              {% endfor %}
            {% endif %}
            <div class="dropdown-divider"></div>

          </div>
        </li>
        {% if user.user_type == 1 %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'student_notifications_all' %}">
            <i class="far fa-envelope"></i>
            <span>Notifications</span></a>
        </li>
        {% endif %}
        <li class="nav-item">
          {% if user.user_type == 1 %}
          <a class="nav-link" href="{% url 'student_statistics' %}">
            <i class="far fa-chart-bar"></i>
            <span>Statistics</span></a>
          {% elif user.user_type == 2 %}
          <a class="nav-link" href="{% url 'instructor_statistics' %}">
            <i class="far fa-chart-bar"></i>
            <span>Statistics</span></a>
          {% endif %}
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="home.html">
            <i class="far fa-calendar-alt"></i>
            <span>Schedule (link broken)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'help' %}">
            <i class="fas fa-question"></i>
            <span>Help</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span></a>
        </li>
      </ul>


      <div id="content-wrapper">

        <div class="container-fluid">






          <!-- Page Content -->
          <div>
              {% block body_block %}
              {% endblock %}




          </div>

        </div>


        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Emily Hosokawa 2019 <br />
                Developed in part fulfilment of the requirements of the Degree of Master of Science at The University of Glasgow<br />
                Frontend partially based on SB Admin template, Copyright 2013-2019 Blackrock Digital LLC.</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>

    {% block script_block %}
    {% endblock %}


  </body>
</html>
