{% extends 'iamin/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Attendance and Absences
{% endblock %}

{% block dash_block %}
  Courses
{% endblock %}

{% block header_block %}
  <link href="{% static 'css/mycolors.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/mybuttons.min.css' %}" rel="stylesheet">

  <link href="{% static 'css/mobile.min.css' %}" rel="stylesheet">
  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}

    {% if instructor_dict %}
    
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        My Courses<br />
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered mobile-table" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>ID Code</th>
                <th>Name</th>
                <th>Instructor(s)</th>
                <th>Degree(s)</th>
              </tr>
            </thead>
            <tfoot class="to-hide">
              <tr>
                <th>ID Code</th>
                <th>Name</th>
                <th>Instructor(s)</th>
                <th>Degree(s)</th>
              </tr>
            </tfoot>
            <tbody>
              {% for key,value in instructor_dict.items %}
                <tr>
                <td data-label="Id">
                  <a class="btn btn-primary bg-soothing" button type="course" href="{% url 'show_lectures' key.slug %}" %}">{{ key.id_no }}</a></td>
                <td data-label="Name">{{ key.name }}</td>
                <td data-label="Instructor(s)">
                  {% for v in value %}
                  {{v.user.first_name}} {{v.user.last_name}} <br />
                  {% if user.user_type == 2 %}
                   ({{v.user.email}})
                  {% endif %}
                  <br />
                  {% endfor %}
                </td>
                <td data-label="Degree(s)">
                  {% for dk,dv in degree_dict.items %}
                    {% if dk == key %}
                      {% for v2 in dv %}
                      {{ v2.name }}<br />
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </td>
                </tr>

              {% endfor %}


            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
    {% else %}
    <strong>You are not registered for any courses.</strong>
    {% endif %}
  </div>

  <!-- Page level plugin JavaScript-->


{% endblock %}

{% block script_block %}
<script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<!-- Demo scripts for this page-->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}
