{% extends 'iamin/anonbase.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
  Forgot Password
{% endblock %}

{% block header_block %}
<link href="{% static 'css/mycolors.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mybuttons.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Forgot Password</div>
    <div class="card-body">
      For help with recovering your password or username, contact support@university.edu
      <div class="text-center">
        <a class="d-block small mt-3" href="{% url 'login' %}">Login</a>
        <a class="d-block small" href="{% url 'register' %}">Register</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
