{% extends 'iamin/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Help
{% endblock %}

{% block body_block %}
  <div>
    <H4>Features</H4>
    Attendances and Absences: iAMin is a session-based attendance monitoring system in which instructors create passwords for students to log-in.
    There is also an absence system, where students can submit requests for excused absences.<br />
    Notify/Notifications: If you're an instructor, cancel lectures or send general messages to your students. If you're a student, view the notifications your instructors have sent.<br />
    Statistics: View and compare all of your course, degree, and school statistics.<br />
    Schedule: Coming soon!<br />
    <br />
  </div>
  <div><H4>Student FAQ</H4>
    <strong>Q: Why can't I submit my attendance?<br /></strong>
    A: The instructor may not have created the password yet, or you're too late--the session has been closed.<br />
    <strong>Q: How do I submit an absence?<br /></strong>
    A: The link to submit an absence is located next to the button to submit an attendance. Click on "View Details" under Attendances and Absences, then locate your course.<br />
    <strong>Q: Why hasn't my absence updated? <br/></strong>
    A: The instructor may not have accepted or rejected your excused absence request yet. Contact your instructor.<br />
    <strong>Q: Why are there so many bars in my graphs?<br /></strong>
    A: As a student, you'll see your own average attendance across all courses, the average attendance for each course you're enrolled in, then the averages for your degree, school, and the entire university.<br />
    <br />
  </div>
  <div><H4>Instructor FAQ</H4>
    <strong>Q: Why am I creating a password?<br /></strong>
    A: iAMin is a password-based attendance system. Once you create your session password for your lecture, inform your students what the password is, and close the session whenever you like.<br />
    <strong>Q: How do I create a password? What kind of password should I use?<br /></strong>
    A: Locate the course you're teaching, then the specific lecture you want. We suggest using a simple password, as you'll need to verbally inform your students what the password is.<br />
    <strong>Q: Do I have to make the password during the lecture?<br /></strong>
    A: No, you don't! Until you close the lecture, you can make the password at any time you want, whether that's five weeks or five minutes in advance.<br />
    <strong>Q: What happens when I close the session?<br /></strong>
    A: Students will no longer be able to log in. All students that aren't already logged in, excused, or pending will automatically be marked as absent.<br />
    <strong>Q: When should I give out the password/close the session?<br /></strong>
    A: Since that's how you can give more students a chance to show up (or how you keep students from cheating the system), that's entirely your decision--if you want to give students more time to show up, you can wait. If, however, you want to ensure that students don't leave in the first five minutes, you can always give out the password later and close the session shortly after.<br />
    <strong>Q: Why can't I create the password?<br /></strong>
    A: If you are not the sole instructor for the course, you may not be registered as the primary instructor for that lecture. You'll need to contact the other instructor--their email will be displayed on the page.<br />
    <strong>Q: I'm not the primary instructor, but I need to monitor attendance. What do I do?<br /></strong>
    A: If they haven't set up a password for the lecture session already, you'll need to contact them. If they have, the password should be displayed. Even if you're not the primary instructor, you can still accept and reject absence excuses, and notify students.<br />
    <strong>Q: What does "pending" mean?<br /></strong>
    A: "Pending" means that the student has submitted an excuse for an absence, and is awaiting your decision to accept or reject the excuse. Accepted students will be marked as "excused", while rejected students will be marked as "absent."<br />
    <strong>Q: How do I cancel a lecture?<br /></strong>
    A: The notification system allows you to check if it is a canceled lecture, which will no longer be included in the course.<br />
    <strong>Q: Why should I cancel a lecture?<br /></strong>
    A: If you don't cancel a lecture, attendance statistics (for both you and your students) will be affected--so make sure that you do!<br />
    <strong>Q: How do I un-cancel a lecture?<br /></strong>
    A: You'll need to contact support to do so.<br />
    <strong>Q: Why are there so many bars in my graphs?<br /></strong>
    A: Sometimes, a course is part of several degrees, or even several schools. As an instructor, you'll see the average attendance for each course you teach, as well as the averages for each course's degree(s) and school(s).<br />
    <br />
  </div>




  <div><H4>About</H4>
    iAMin is an attendance monitoring system for higher education, developed by Emily Hosokawa as a summer research project for the University of Glasgow's MSc:SD dissertation.
  </div>

  <div>
    <br />
  </div>

{% endblock %}
