{% extends 'iamin/base.html' %}
{% load staticfiles %}

{% block title_block %}
Lectures
{% endblock %}

{% block dash_block %}
Lectures
{% endblock %}

{% block header_block %}
<link href="{% static 'css/mycolors.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mybuttons.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mobile.min.css' %}" rel="stylesheet">
<!-- Page level plugin CSS-->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}

{% if lectures %}
<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    My Lectures
  </div>
  <div class="card-body">
    {{ course.id_no }} ({{ course.name }})
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered mobile-table" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            {% if user.user_type == 1 %}
            <th>Submit Attendance</th>
            <th>Submit Excuse</th>
            <th>Notifications</th>
            {% elif user.user_type == 2 %}
            <th>Create Password</th>
            <th>Manage Absences</th>
            <th>Notify</th>
            {% endif %}
            <th>Start</th>
            <th>End</th>
            <th>Day</th>
            <th>Primary Instructor</th>
            <th>Location</th>
          </tr>
        </thead>
        <tfoot class="to-hide">
          <tr>
            {% if user.user_type == 1 %}
            <th>Submit Attendance</th>
            <th>Submit Excuse</th>
            <th>Notifications</th>
            {% elif user.user_type == 2 %}
            <th>Create Password</th>
            <th>Manage Absences</th>
            <th>Notify</th>
            {% endif %}
            <th>Start</th>
            <th>End</th>
            <th>Day</th>
            <th>Primary Instructor</th>
            <th>Location</th>
          </tr>
        </tfoot>
        <tbody>
          {% for occurrence in occurrences %}
          <tr>
            {% if user.user_type == 1 %}
            {% if occurrence.was_canceled == False %}
            <td data-label="Attendance"><a class="btn btn-dark bg-present text-dark" button type="lecture" href="{% url 'student_attendance' course_id_no_slug=course.slug %}?occ_id={{occurrence.id}}" %}">
                {% if occurrence.is_active %} <i class="fas fa-lock-open"></i>
                {% else %}<i class="fas fa-lock"></i>
                {% endif %}
                {{ occurrence.date|date:'Y-m-d' }}</a></td>
            <td data-label="Excuse"><a class="btn btn-dark bg-absent text-dark" button type="lecture" href="{% url 'student_absences' course_id_no_slug=course.slug %}?occ_id={{occurrence.id}}" %}">Submit Absence</a></td>
            {% else %}
            <td data-label="Notifications">
              <div class="btn btn-dark bg-notif text-dark">{{occurrence.date|date:'Y-m-d' }}</div>
            </td>
            <td data-label="Canceled">
              <div class="btn btn-dark bg-canceled text-dark">Canceled</div>
            </td>
            {% endif %}
            <td data-label="Message">
              {% if occurrence.message %}
              {{occurrence.message}}
              {% else %}
              N/A
              {% endif %}
            </td>
            {% elif user.user_type == 2 %}
            <td data-label="Attendance"><a class="btn btn-dark bg-present text-dark" button type="lecture" href="{% url 'instructor_attendance' course_id_no_slug=course.slug %}?occ_id={{occurrence.id}}" %}">
                {% if occurrence.is_active %} <i class="fas fa-door-open"></i>
                {% else %}<i class="fas fa-door-closed"></i>
                {% endif %}
                {{ occurrence.date|date:'Y-m-d' }}</a></td>
            <td data-label="Excuse"><a class="btn btn-dark bg-absent text-dark" button type="lecture" href="{% url 'instructor_absences' course_id_no_slug=course.slug %}?occ_id={{occurrence.id}}" %}">
                <i class="fas fa-user-check"></i>Manage Absences</a></td>
            <td data-label="Notifications"><a class="btn btn-dark bg-notif text-dark" button type="lecture" href="{% url 'instructor_notify' course_id_no_slug=course.slug %}?occ_id={{occurrence.id}}" %}">
                <i class="fas fa-envelope"></i>Notify</a></td>
            {% endif %}

            <td data-label="Start">{{occurrence.regular_lecture.start_time}}</td>
            <td data-label="End">{{occurrence.regular_lecture.end_time}}</td>
            <td data-label="Day">{{occurrence.regular_lecture.day}}</td>
            <td data-label="Primary Instructor">{{occurrence.instructor}}</td>
            <td data-label="Location">{{occurrence.regular_lecture.location}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>



<div>
  {% else %}
  <strong>There are no lectures for this course.</strong>
  {% endif %}
</div>

<!-- Page level plugin JavaScript-->
{% endblock %}

{% block script_block %}
<script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<!-- Demo scripts for this page-->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}
