{% extends 'iamin/anonbase.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
  Register
{% endblock %}
{% block body_block %}




    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Register for iAMin</div>
        <div class="card-body">
          {% if registered %}
            <strong>You are now registered for iAMin.</strong>
            <a href="{% url 'home' %}">Return to the homepage.</a><br/>
          {% else %}
          If you are a student, register here. If you are an instructor, please email support@university.edu
          <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.username|as_crispy_field }}
            {{ user_form.password|as_crispy_field }}
            {{ user_form.first_name|as_crispy_field }}
            {{ user_form.last_name|as_crispy_field }}
            {{ user_form.email|as_crispy_field }}
            {{ student_form.degree|as_crispy_field}}
            By checking "accept", you agree to store the information provided in our database. iAMin will never use this information other than to link your iAMin account with your university account.
            {{ student_form.accept|as_crispy_field}}
            <input class="btn btn-success btn-block" type="submit" name="submit" value="Register" />
              <!-- <button class="btn btn-primary btn-block" button type="submit" href="{% url 'home' %}" %}">Register</button>
              <input class="btn btn-success" type="submit" name="submit" value="Register" />
              </form> -->
            </form>

          <div class="text-center">
            <a class="d-block small mt-3" href="{% url 'login' %}">Login</a>
            <a class="d-block small" href="{% url 'forgot_password' %}">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
