{% extends 'iamin/base.html' %}
{% load staticfiles %}

{% block title_block %}
Schedule
{% endblock %}

{% block body_block %}
  <div>
    <strong>Schedule</strong><br />
  </div>

  <div>
    See your class schedule here.
    Coming soon!
  </div>

  <div>
    <a href="/iamin/">Home</a><br />
  </div>
{% endblock %}
