{% extends 'iamin/base.html' %}
{% load staticfiles %}

{% block title_block %}
Lectures
{% endblock %}

{% block dash_block %}
Lectures
{% endblock %}

{% block header_block %}
<link href="{% static 'css/mycolors.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mybuttons.min.css' %}" rel="stylesheet">
<!-- Page level plugin CSS-->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}


{% for lecture in lectures %}
    {% for occurrence in occurrences %}

{% endfor %}
{% endfor %}

{% if lectures %}
<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    My Lectures<br />
    {{ course.id_no }} ({{ course.name }})<br />
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
            <th>Day</th>
            <th>Primary Instructor</th>
            <th>Location</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
            <th>Day</th>
            <th>Primary Instructor</th>
            <th>Location</th>
          </tr>
        </tfoot>
        <tbody>
        {% for occurrence in occurrences %}
        <tr>
        <td>
          {% if user.user_type == 1 %}
            <a class="btn btn-primary bg-present" button type="lecture" href="{% url 'student_attendance' course_id_no_slug=course.slug %}?occ_id={{occurrence.id}}" %}">{{ occurrence.date|date:'Y-m-d' }}</a>
            <a class="btn btn-primary bg-absent" button type="lecture" href="{% url 'student_absences' course_id_no_slug=course.slug %}?occ_id={{occurrence.id}}" %}">Submit Absence</a>
          {% elif user.user_type == 2 %}
            <a class="btn btn-primary bg-present" button type="lecture" href="{% url 'instructor_attendance' course_id_no_slug=course.slug %}?occ_id={{occurrence.id}}" %}">{{ occurrence.date|date:'Y-m-d' }}</a>
            <a class="btn btn-primary bg-absent" button type="lecture" href="{% url 'instructor_absences' course_id_no_slug=course.slug %}?occ_id={{occurrence.id}}" %}">View Absences</a>
          {% endif %}
        <td>{{occurrence.regular_lecture.start_time}}</td>
        <td>{{occurrence.regular_lecture.end_time}}</td>
        <td>{{occurrence.regular_lecture.day}}</td>
        <td>{{occurrence.instructor}}</td>
        <td>{{occurrence.regular_lecture.location}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

</div>
{% else %}
<strong>There are no lectures for this course.</strong>
{% endif %}
</div>

<!-- Page level plugin JavaScript-->


{% endblock %}

{% block script_block %}
<script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<!-- Demo scripts for this page-->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}
