{% extends 'iamin/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Tester file
{% endblock %}

{% block header_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/test2.min.css' %} " />
{% endblock %}


  {% block body_block %}
  <div class = "container">
    <div class="row">
      <div class="col-6">
        <p>a</p>
      </div>
      <div class="col-2">
        <p>a</p>
      </div>
      <div class="col-4">
        <p>a</p>
      </div>
    </div>
    another sky <br/>
  </div>
  {% endblock %}
</div>
