
{% load staticfiles %}


<link rel="stylesheet" type="text/css" href="{% static 'css/test.min.css' %} " />

<div class="row">
 <div class="col-sm-4">.col-sm-4</div>
 <div class="col-sm-4">.col-sm-4</div>
 <div class="col-sm-4">.col-sm-4</div>
</div>
<div class="container col-12 col-lg-4">
  <div class="card-div">
    <p><strong>Test test test</strong></p>
    generic test page! currently I'm working on HTML and CSS.
  </div>
  <div class="card-div">
    some other div1
  </div>
  <div class="card-div">
    some other div2
  </div>
  <div class="card-div">
    some other div3
  </div>
  <div class="card-div">
    some other div4
  </div>
  <div class="card-div">
    some other div5
  </div>
  <div class="card-div">
    <a href="{% url 'home' %}">Home</a><br />
  </div>


</div>
