$border-color: #313333;
$text-color: #1a1a1a;

.container {
  text-align: center;
  background-color: blue;
  border: 5px solid black;

  // border: 1px solid red;
}

div {
  border: 10px solid red;
}

.row {
  border: 5px solid green;
}

body {
  background-color: #dae2f0;
}
