$border-color: #313333;
$text-color: #1a1a1a;

.container {
  text-align: center;
  background-color: blue;

  // border: 1px solid red;
}

div {
  border: 2px solid $border-color;
}

.row {
  border: 3px solid yellow;
}

body {
  background-color: #232624;
}
